@import url("../Styles/colors.css");

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li, a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: var(--text-color);
    opacity: 0.60;
}

.nav-links li a:hover {
    opacity: 1;
}

.logo {
    cursor: pointer;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

button img {
    padding: 0 1rem 0 0;
}