@import url("../Styles/colors.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#firstSection { 
    background-image: url("../assets/background.png");
    background-repeat: repeat;
    background-size: 100%;
    padding: 48px 15%;
}

#secondSection {
    display: grid;
    grid-template-columns: 1fr 3fr;

    border-bottom: 1px solid rgba(134, 132, 132, 0.5);
}

#thirdSection {
    padding: 38px 15%;
    margin-top: 4rem;
}

#fourthSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 38px 15%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    background: var(--body-background);
}


